#alerts
  .small-section
    .container
      .row-fluid
        .col-sm-7
          %h1.blue-font
            %b Análisis de datos médicos
            Problema común serio y costoso
          %p
            Problema común serio y costoso
  .small-section.bkg-light-gray
    .container
      .row-fluid
        .col-sm-7.col-sm-offset-5
          %h1.blue-font= t 'landing.alerts.title_aki'
          %p
            = t 'landing.alerts.description_aki'
