#finish.section
  .container
    .row
      .col-xs-12
        %h3 ¿Quieres mejorar el seguimiento de pacientes y diagnosticar de forma temprana?
        %h1.title Conversemos
        = link_to 'mailto:contacto@calafatebikes.com', class: 'footer-link' do
          %h2.white-link
            %i.glyphicon.glyphicon-envelope
            contacto@labsensei.com
