.small-section
  .container
    .row
      .col-xs-12.text-center
        %h1= t('navbar.change_password')

    .row.mt-lg
      .col-xs-12.col-sm-8.col-sm-offset-2
        = simple_form_for(@user, html: {autocomplete: 'off'}) do |f|

          .form-group
            = f.input :password, label: false, placeholder: 'Nueva contraseña', input_html: { class: 'form-control' }

          %hr

          .form-actions
            = f.button :submit, class: 'btn btn-primary'
