.blue-bkg
  .container
    .center
      = link_to landing_path, class: 'navbar-brand brand' do
        = image_tag 'logo_blanco.svg', alt: 'LAB Sensei', title: 'LAB Sensei'
    .row
      .col-sm-6.col-sm-offset-3
        .box
          %h1.center-text.mb_lg
            Bienvenido
            = @user.name
          %p
            Un administrador revisar치 tu solicitud. Podr치s iniciar sesi칩n luego de la revisi칩n.
          = link_to 'Terminar', new_session_path, class: 'btn btn-primary center'

