.small-section.text-center
  .container
    .dotted-container
      %h2.font-weight-light
        En esta secci칩n encontrar치s estudios de incidencia sobre la insuficiencia renal aguda
        %br en base a los ex치menes importados.
      .mt-lg
      = link_to 'Importar ex치menes', new_import_path, class: 'btn btn-large btn-primary'