.small-section.text-center
  .container
    .dotted-container
      %h2.font-weight-light
        En esta sección encontrarás a todos los diagnósticos detectados luego de importar los exámenes de creatinina.
      .mt-lg
      = link_to 'Importar exámenes', new_import_path, class: 'btn btn-large btn-primary'